:root {
  --md-source: #6750A4;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410E0B;
  --md-ref-palette-error20: #601410;
  --md-ref-palette-error30: #8C1D18;
  --md-ref-palette-error40: #B3261E;
  --md-ref-palette-error50: #DC362E;
  --md-ref-palette-error60: #E46962;
  --md-ref-palette-error70: #EC928E;
  --md-ref-palette-error80: #F2B8B5;
  --md-ref-palette-error90: #F9DEDC;
  --md-ref-palette-error95: #FCEEEE;
  --md-ref-palette-error99: #FFFBF9;
  --md-ref-palette-error100: #FFFFFF;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #21005D;
  --md-ref-palette-primary20: #381E72;
  --md-ref-palette-primary30: #4F378B;
  --md-ref-palette-primary40: #6750A4;
  --md-ref-palette-primary50: #7F67BE;
  --md-ref-palette-primary60: #9A82DB;
  --md-ref-palette-primary70: #B69DF8;
  --md-ref-palette-primary80: #D0BCFF;
  --md-ref-palette-primary90: #EADDFF;
  --md-ref-palette-primary95: #F6EDFF;
  --md-ref-palette-primary99: #FFFBFE;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #1D192B;
  --md-ref-palette-secondary20: #332D41;
  --md-ref-palette-secondary30: #4A4458;
  --md-ref-palette-secondary40: #625B71;
  --md-ref-palette-secondary50: #7A7289;
  --md-ref-palette-secondary60: #958DA5;
  --md-ref-palette-secondary70: #B0A7C0;
  --md-ref-palette-secondary80: #CCC2DC;
  --md-ref-palette-secondary90: #E8DEF8;
  --md-ref-palette-secondary95: #F6EDFF;
  --md-ref-palette-secondary99: #FFFBFE;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #31111D;
  --md-ref-palette-tertiary20: #492532;
  --md-ref-palette-tertiary30: #633B48;
  --md-ref-palette-tertiary40: #7D5260;
  --md-ref-palette-tertiary50: #986977;
  --md-ref-palette-tertiary60: #B58392;
  --md-ref-palette-tertiary70: #D29DAC;
  --md-ref-palette-tertiary80: #EFB8C8;
  --md-ref-palette-tertiary90: #FFD8E4;
  --md-ref-palette-tertiary95: #FFECF1;
  --md-ref-palette-tertiary99: #FFFBFA;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1C1B1F;
  --md-ref-palette-neutral20: #313033;
  --md-ref-palette-neutral30: #484649;
  --md-ref-palette-neutral40: #605D62;
  --md-ref-palette-neutral50: #787579;
  --md-ref-palette-neutral60: #939094;
  --md-ref-palette-neutral70: #AEAAAE;
  --md-ref-palette-neutral80: #C9C5CA;
  --md-ref-palette-neutral90: #E6E1E5;
  --md-ref-palette-neutral95: #F4EFF4;
  --md-ref-palette-neutral99: #FFFBFE;
  --md-ref-palette-neutral100: #FFFFFF;
  --md-ref-palette-neutralNaN: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1D1A22;
  --md-ref-palette-neutral-variant20: #322F37;
  --md-ref-palette-neutral-variant30: #49454F;
  --md-ref-palette-neutral-variant40: #605D66;
  --md-ref-palette-neutral-variant50: #79747E;
  --md-ref-palette-neutral-variant60: #938F99;
  --md-ref-palette-neutral-variant70: #AEA9B4;
  --md-ref-palette-neutral-variant80: #CAC4D0;
  --md-ref-palette-neutral-variant90: #E7E0EC;
  --md-ref-palette-neutral-variant95: #F5EEFA;
  --md-ref-palette-neutral-variant99: #FFFBFE;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-surface-tint-light: #6750A4;
  --md-sys-color-surface-tint-color-light: #6750A4;
  --md-sys-color-on-error-container-light: #410E0B;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #F9DEDC;
  --md-sys-color-on-tertiary-container-light: #31111D;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #FFD8E4;
  --md-sys-color-tertiary-light: #7D5260;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-error-light: #B3261E;
  --md-sys-color-outline-light: #79747E;
  --md-sys-color-on-background-light: #1C1B1F;
  --md-sys-color-background-light: #FFFBFE;
  --md-sys-color-inverse-on-surface-light: #F4EFF4;
  --md-sys-color-inverse-surface-light: #313033;
  --md-sys-color-on-surface-variant-light: #49454F;
  --md-sys-color-on-surface-light: #1C1B1F;
  --md-sys-color-surface-variant-light: #E7E0EC;
  --md-sys-color-surface-light: #FFFBFE;
  --md-sys-color-on-secondary-container-light: #1D192B;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #E8DEF8;
  --md-sys-color-secondary-light: #625B71;
  --md-sys-color-inverse-primary-light: #D0BCFF;
  --md-sys-color-on-primary-container-light: #21005D;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #EADDFF;
  --md-sys-color-primary-light: #6750A4;
  /* dark */
  --md-sys-color-surface-tint-dark: #D0BCFF;
  --md-sys-color-surface-tint-color-dark: #D0BCFF;
  --md-sys-color-on-error-container-dark: #F2B8B5;
  --md-sys-color-on-error-dark: #601410;
  --md-sys-color-error-container-dark: #8C1D18;
  --md-sys-color-on-tertiary-container-dark: #FFD8E4;
  --md-sys-color-on-tertiary-dark: #492532;
  --md-sys-color-tertiary-container-dark: #633B48;
  --md-sys-color-tertiary-dark: #EFB8C8;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-error-dark: #F2B8B5;
  --md-sys-color-outline-dark: #938F99;
  --md-sys-color-on-background-dark: #E6E1E5;
  --md-sys-color-background-dark: #1C1B1F;
  --md-sys-color-inverse-on-surface-dark: #313033;
  --md-sys-color-inverse-surface-dark: #E6E1E5;
  --md-sys-color-on-surface-variant-dark: #CAC4D0;
  --md-sys-color-on-surface-dark: #E6E1E5;
  --md-sys-color-surface-variant-dark: #49454F;
  --md-sys-color-surface-dark: #1C1B1F;
  --md-sys-color-on-secondary-container-dark: #E8DEF8;
  --md-sys-color-on-secondary-dark: #332D41;
  --md-sys-color-secondary-container-dark: #4A4458;
  --md-sys-color-secondary-dark: #CCC2DC;
  --md-sys-color-inverse-primary-dark: #6750A4;
  --md-sys-color-on-primary-container-dark: #EADDFF;
  --md-sys-color-on-primary-dark: #381E72;
  --md-sys-color-primary-container-dark: #4F378B;
  --md-sys-color-primary-dark: #D0BCFF;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
.surface-tint {
  background-color: var(--md-sys-color-surface-tint);
}
.surface-tint-text {
  color: var(--md-sys-color-surface-tint);
}
.surface-tint-color {
  background-color: var(--md-sys-color-surface-tint-color);
}
.surface-tint-color-text {
  color: var(--md-sys-color-surface-tint-color);
}
.on-error-container {
  background-color: var(--md-sys-color-on-error-container);
}
.on-error-container-text {
  color: var(--md-sys-color-on-error-container);
}
.on-error {
  background-color: var(--md-sys-color-on-error);
}
.on-error-text {
  color: var(--md-sys-color-on-error);
}
.error-container {
  background-color: var(--md-sys-color-error-container);
}
.error-container-text {
  color: var(--md-sys-color-error-container);
}
.on-tertiary-container {
  background-color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary-container-text {
  color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary {
  background-color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-text {
  color: var(--md-sys-color-on-tertiary);
}
.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
}
.tertiary-container-text {
  color: var(--md-sys-color-tertiary-container);
}
.tertiary {
  background-color: var(--md-sys-color-tertiary);
}
.tertiary-text {
  color: var(--md-sys-color-tertiary);
}
.shadow {
  background-color: var(--md-sys-color-shadow);
}
.shadow-text {
  color: var(--md-sys-color-shadow);
}
.error {
  background-color: var(--md-sys-color-error);
}
.error-text {
  color: var(--md-sys-color-error);
}
.outline {
  background-color: var(--md-sys-color-outline);
}
.outline-text {
  color: var(--md-sys-color-outline);
}
.on-background {
  background-color: var(--md-sys-color-on-background);
}
.on-background-text {
  color: var(--md-sys-color-on-background);
}
.background {
  background-color: var(--md-sys-color-background);
}
.background-text {
  color: var(--md-sys-color-background);
}
.inverse-on-surface {
  background-color: var(--md-sys-color-inverse-on-surface);
}
.inverse-on-surface-text {
  color: var(--md-sys-color-inverse-on-surface);
}
.inverse-surface {
  background-color: var(--md-sys-color-inverse-surface);
}
.inverse-surface-text {
  color: var(--md-sys-color-inverse-surface);
}
.on-surface-variant {
  background-color: var(--md-sys-color-on-surface-variant);
}
.on-surface-variant-text {
  color: var(--md-sys-color-on-surface-variant);
}
.on-surface {
  background-color: var(--md-sys-color-on-surface);
}
.on-surface-text {
  color: var(--md-sys-color-on-surface);
}
.surface-variant {
  background-color: var(--md-sys-color-surface-variant);
}
.surface-variant-text {
  color: var(--md-sys-color-surface-variant);
}
.surface {
  background-color: var(--md-sys-color-surface);
}
.surface-text {
  color: var(--md-sys-color-surface);
}
.on-secondary-container {
  background-color: var(--md-sys-color-on-secondary-container);
}
.on-secondary-container-text {
  color: var(--md-sys-color-on-secondary-container);
}
.on-secondary {
  background-color: var(--md-sys-color-on-secondary);
}
.on-secondary-text {
  color: var(--md-sys-color-on-secondary);
}
.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
}
.secondary-container-text {
  color: var(--md-sys-color-secondary-container);
}
.secondary {
  background-color: var(--md-sys-color-secondary);
}
.secondary-text {
  color: var(--md-sys-color-secondary);
}
.inverse-primary {
  background-color: var(--md-sys-color-inverse-primary);
}
.inverse-primary-text {
  color: var(--md-sys-color-inverse-primary);
}
.on-primary-container {
  background-color: var(--md-sys-color-on-primary-container);
}
.on-primary-container-text {
  color: var(--md-sys-color-on-primary-container);
}
.on-primary {
  background-color: var(--md-sys-color-on-primary);
}
.on-primary-text {
  color: var(--md-sys-color-on-primary);
}
.primary-container {
  background-color: var(--md-sys-color-primary-container);
}
.primary-container-text {
  color: var(--md-sys-color-primary-container);
}
.primary {
  background-color: var(--md-sys-color-primary);
}
.primary-text {
  color: var(--md-sys-color-primary);
}
.label-small{
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-style: var(--md-sys-typescale-label-small-font-family-style);
  font-weight: var(--md-sys-typescale-label-small-font-weight);
  font-size: var(--md-sys-typescale-label-small-font-size);
  letter-spacing: var(--md-sys-typescale-label-small-tracking);
  line-height: var(--md-sys-typescale-label-small-height);
  text-transform: var(--md-sys-typescale-label-small-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-label-small-text-decoration);
          text-decoration: var(--md-sys-typescale-label-small-text-decoration);
}
.label-medium{
  font-family: var(--md-sys-typescale-label-medium-font-family-name);
  font-style: var(--md-sys-typescale-label-medium-font-family-style);
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  letter-spacing: var(--md-sys-typescale-label-medium-tracking);
  line-height: var(--md-sys-typescale-label-medium-height);
  text-transform: var(--md-sys-typescale-label-medium-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
          text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
}
.label-large{
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  line-height: var(--md-sys-typescale-label-large-height);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
}
.body-small{
  font-family: var(--md-sys-typescale-body-small-font-family-name);
  font-style: var(--md-sys-typescale-body-small-font-family-style);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  letter-spacing: var(--md-sys-typescale-body-small-tracking);
  line-height: var(--md-sys-typescale-body-small-height);
  text-transform: var(--md-sys-typescale-body-small-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-body-small-text-decoration);
          text-decoration: var(--md-sys-typescale-body-small-text-decoration);
}
.body-medium{
  font-family: var(--md-sys-typescale-body-medium-font-family-name);
  font-style: var(--md-sys-typescale-body-medium-font-family-style);
  font-weight: var(--md-sys-typescale-body-medium-font-weight);
  font-size: var(--md-sys-typescale-body-medium-font-size);
  letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  line-height: var(--md-sys-typescale-body-medium-height);
  text-transform: var(--md-sys-typescale-body-medium-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-body-medium-text-decoration);
          text-decoration: var(--md-sys-typescale-body-medium-text-decoration);
}
.body-large{
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  font-style: var(--md-sys-typescale-body-large-font-family-style);
  font-weight: var(--md-sys-typescale-body-large-font-weight);
  font-size: var(--md-sys-typescale-body-large-font-size);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  line-height: var(--md-sys-typescale-body-large-height);
  text-transform: var(--md-sys-typescale-body-large-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-body-large-text-decoration);
          text-decoration: var(--md-sys-typescale-body-large-text-decoration);
}
.headline-small{
  font-family: var(--md-sys-typescale-headline-small-font-family-name);
  font-style: var(--md-sys-typescale-headline-small-font-family-style);
  font-weight: var(--md-sys-typescale-headline-small-font-weight);
  font-size: var(--md-sys-typescale-headline-small-font-size);
  letter-spacing: var(--md-sys-typescale-headline-small-tracking);
  line-height: var(--md-sys-typescale-headline-small-height);
  text-transform: var(--md-sys-typescale-headline-small-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
          text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
}
.headline-medium{
  font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  font-style: var(--md-sys-typescale-headline-medium-font-family-style);
  font-weight: var(--md-sys-typescale-headline-medium-font-weight);
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
  line-height: var(--md-sys-typescale-headline-medium-height);
  text-transform: var(--md-sys-typescale-headline-medium-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
          text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
}
.headline-large{
  font-family: var(--md-sys-typescale-headline-large-font-family-name);
  font-style: var(--md-sys-typescale-headline-large-font-family-style);
  font-weight: var(--md-sys-typescale-headline-large-font-weight);
  font-size: var(--md-sys-typescale-headline-large-font-size);
  letter-spacing: var(--md-sys-typescale-headline-large-tracking);
  line-height: var(--md-sys-typescale-headline-large-height);
  text-transform: var(--md-sys-typescale-headline-large-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-headline-large-text-decoration);
          text-decoration: var(--md-sys-typescale-headline-large-text-decoration);
}
.display-small{
  font-family: var(--md-sys-typescale-display-small-font-family-name);
  font-style: var(--md-sys-typescale-display-small-font-family-style);
  font-weight: var(--md-sys-typescale-display-small-font-weight);
  font-size: var(--md-sys-typescale-display-small-font-size);
  letter-spacing: var(--md-sys-typescale-display-small-tracking);
  line-height: var(--md-sys-typescale-display-small-height);
  text-transform: var(--md-sys-typescale-display-small-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-display-small-text-decoration);
          text-decoration: var(--md-sys-typescale-display-small-text-decoration);
}
.display-medium{
  font-family: var(--md-sys-typescale-display-medium-font-family-name);
  font-style: var(--md-sys-typescale-display-medium-font-family-style);
  font-weight: var(--md-sys-typescale-display-medium-font-weight);
  font-size: var(--md-sys-typescale-display-medium-font-size);
  letter-spacing: var(--md-sys-typescale-display-medium-tracking);
  line-height: var(--md-sys-typescale-display-medium-height);
  text-transform: var(--md-sys-typescale-display-medium-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-display-medium-text-decoration);
          text-decoration: var(--md-sys-typescale-display-medium-text-decoration);
}
.display-large{
  font-family: var(--md-sys-typescale-display-large-font-family-name);
  font-style: var(--md-sys-typescale-display-large-font-family-style);
  font-weight: var(--md-sys-typescale-display-large-font-weight);
  font-size: var(--md-sys-typescale-display-large-font-size);
  letter-spacing: var(--md-sys-typescale-display-large-tracking);
  line-height: var(--md-sys-typescale-display-large-height);
  text-transform: var(--md-sys-typescale-display-large-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-display-large-text-decoration);
          text-decoration: var(--md-sys-typescale-display-large-text-decoration);
}
.title-small{
  font-family: var(--md-sys-typescale-title-small-font-family-name);
  font-style: var(--md-sys-typescale-title-small-font-family-style);
  font-weight: var(--md-sys-typescale-title-small-font-weight);
  font-size: var(--md-sys-typescale-title-small-font-size);
  letter-spacing: var(--md-sys-typescale-title-small-tracking);
  line-height: var(--md-sys-typescale-title-small-height);
  text-transform: var(--md-sys-typescale-title-small-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-title-small-text-decoration);
          text-decoration: var(--md-sys-typescale-title-small-text-decoration);
}
.title-medium{
  font-family: var(--md-sys-typescale-title-medium-font-family-name);
  font-style: var(--md-sys-typescale-title-medium-font-family-style);
  font-weight: var(--md-sys-typescale-title-medium-font-weight);
  font-size: var(--md-sys-typescale-title-medium-font-size);
  letter-spacing: var(--md-sys-typescale-title-medium-tracking);
  line-height: var(--md-sys-typescale-title-medium-height);
  text-transform: var(--md-sys-typescale-title-medium-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-title-medium-text-decoration);
          text-decoration: var(--md-sys-typescale-title-medium-text-decoration);
}
.title-large{
  font-family: var(--md-sys-typescale-title-large-font-family-name);
  font-style: var(--md-sys-typescale-title-large-font-family-style);
  font-weight: var(--md-sys-typescale-title-large-font-weight);
  font-size: var(--md-sys-typescale-title-large-font-size);
  letter-spacing: var(--md-sys-typescale-title-large-tracking);
  line-height: var(--md-sys-typescale-title-large-height);
  text-transform: var(--md-sys-typescale-title-large-text-transform);
  -webkit-text-decoration: var(--md-sys-typescale-title-large-text-decoration);
          text-decoration: var(--md-sys-typescale-title-large-text-decoration);
}
@media (prefers-color-scheme: light) {
:root {
 --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
 --md-sys-color-surface-tint-color: var(--md-sys-color-surface-tint-color-light);
 --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
 --md-sys-color-on-error: var(--md-sys-color-on-error-light);
 --md-sys-color-error-container: var(--md-sys-color-error-container-light);
 --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
 --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
 --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
 --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
 --md-sys-color-shadow: var(--md-sys-color-shadow-light);
 --md-sys-color-error: var(--md-sys-color-error-light);
 --md-sys-color-outline: var(--md-sys-color-outline-light);
 --md-sys-color-on-background: var(--md-sys-color-on-background-light);
 --md-sys-color-background: var(--md-sys-color-background-light);
 --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
 --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
 --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
 --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
 --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
 --md-sys-color-surface: var(--md-sys-color-surface-light);
 --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
 --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
 --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
 --md-sys-color-secondary: var(--md-sys-color-secondary-light);
 --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
 --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
 --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
 --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
 --md-sys-color-primary: var(--md-sys-color-primary-light);
}
}
@media (prefers-color-scheme: dark) {
:root {
 --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
 --md-sys-color-surface-tint-color: var(--md-sys-color-surface-tint-color-dark);
 --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
 --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
 --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
 --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
 --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
 --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
 --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
 --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
 --md-sys-color-error: var(--md-sys-color-error-dark);
 --md-sys-color-outline: var(--md-sys-color-outline-dark);
 --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
 --md-sys-color-background: var(--md-sys-color-background-dark);
 --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
 --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
 --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
 --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
 --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
 --md-sys-color-surface: var(--md-sys-color-surface-dark);
 --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
 --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
 --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
 --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
 --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
 --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
 --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
 --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
 --md-sys-color-primary: var(--md-sys-color-primary-dark);
}
}
footer.svelte-19sgnue{min-height:64px;height:64px}
@media screen and (min-width: 768px){.slot-container.svelte-19sgnue{border-radius:12px 0 0 0}header.svelte-19sgnue{min-height:40px;height:40px}.sidebar.svelte-19sgnue{height:100%;min-width:40px;width:40px;transition:width 0.2s ease-in-out}@media(prefers-color-scheme: dark){.slot-container.svelte-19sgnue{box-shadow:inset 0.5em 0.5em 0.5em -0.5em black}}}